.header {
    padding: 50px 400px 20px 400px;
}
.left {
    float:left;
}
.right {
    float:right;
}
.left span, .right span {
    padding: 0px 30px;
    font-family: lato;
}
a {
    color:black;
    text-decoration: none;
}
.title {
    padding: 20px 0px;
    text-align: center;
}
.title h1 {
    font-family: lato;
}
.title p {
    color: grey;
}
.container {
    width: 1080px;
    margin: auto;
    position: relative;
    height: 100%;
}
.image, .imageabout, .imagecon {
    margin: auto;
    height: 470px;
    width: 1080px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image {
    background-image: url('girl.jpeg');
}
.imageabout {
    background-image: url('macs.jpeg');
}
.imagecon {
    background-image: url('cont.png');
}
.shadow {
    margin: 15px auto;
    width: 900px;
    height: 89px;
    background-image: url('shadow.png');
    opacity: 0.5;
}
.greeting {
    text-align: center;
}
.greeting .heading {
    font-size:40px;
}
.para {
    margin: 20px auto;
    width: 700px;
}
.para span, .para p {
    font-size: 18px;
    line-height: 33px;
}
.images {
    display: inline-block;
}
.flower {
    background: url('flower.png');
}
.food {
    background: url('food.png');
}
.car {
    background: url('car.png');
}
.images .flower, .images .food, .images .car {
    width: 340px;
    height: 440px;
    margin: 60px 10px;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.kid {
    background: url('kid.png');
    margin: 0 -409.5px;
    width:176%;
    height: 550px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}
.boicont {
    width: 700px;
    margin-left:22%;
    padding-top:5%;
}
.boicont > span {
    font-size:53px;
}
.gardening {
    text-align:center;
    padding: 100px 150px;
}
.gardening .red {
    font-size:18px;
}
.gardening p {
    font-size:40px;
}
.red {
    color:red;
}
.footer {
    position: relative;
    min-height: 221px;
    background-color: rgb(240, 240, 240);
}
.footer .container span {
    position:absolute;
}
.fhome {
    top: 75px;
    left: 55px;
}
.fabout {
    top: 75px;
    left: 140px;
}
.fcont {
    top: 75px;
    left: 240px;
}
.ffb {
    top: 75px;
    left: 780px;
}
.fpint {
    top: 75px;
    left: 900px;
}
.ftwit {
    top: 75px;
    left: 1020px;
}
.disclaimer {
    top: 180px;
    left: 290px;
}
.tatiana {
    font-size:40px;
    font-weight: bold;
    top: 60px;
    left: 450px;
}
.luv {
    top: 130px;
    left: 405px;
}
.luv svg {
    height: 20px;
    width: 25px;
}
.marks {
    float:left;
}
.mother {
    padding: 20px;
    font-size: 45px;
}
.quote {
    display: inline-block;
    padding: 20px 155px;
}
.quote svg {
    height: 200px;
    width: 140px;
}
.baby, .babyc {
    display: inline-block;
}
.bbyleft {
    height: 350px;
    width: 50%;
    float:left;
}
.bbyimg {
    margin: 15px auto;
    width: 80%;
    height: 70%;
    background-image: url('bby.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bbyshdw {
    margin: auto;
    width: 80%;
    height: 30px;
    background-image: url('shadow.png');
    opacity: 0.5;
}
.bbyright p {
    font-size:22px;
    line-height: 30px;
}
.bbycleft {
    height: 550px;
    width: 550px;
    float: left;
}
.bbycimg {
    margin: 15px auto;
    width: 80%;
    height: 90%;
    background-image: url('bbygurl.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bbycright {
    float: left;
}
.contentc {
    margin-top:-20px;
}